.titulo-principal{
  padding-left: 30px;
}
.principal{
  background-color: #867ac2;]
  padding: 30px;
}

.titulo-centralizado{
  text-align:center;
}

p  {
  text-align: center;
  font-size: 20px;
}

#missao{
  font-size: 20px;
}
em strong{
  color:#171764
}

#banner{
  width: 100%;
}

ul {
  display:inline-block;
  vertical-align: top;
  width:20%;
  margin-right: 15%;
}

#beneficios{
  width: 50%;
}

.item{
  font-style: italic;
}